 <!--Main Site-->
 
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="./add_user.handlebars" class="border-shadow">
                    <span class="text-gradient">New User<i class="fas fa-user"></i></span>
                </a>
            </div>

            <!--form handling-->
            <form action="/add_user" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{>_show}}
                    </tbody>
                </table>
            </form>
        </div>
    </main>
    <!--/Main Site-->